html {
    background-color: black;
    color:white;
    font-size: 16px;
    font-family: Lato, sans-serif;
    /* font-family: Space Mono, monospace; */

    padding:0;
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    scroll-padding-top: 120px;
    
}

body{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:0;
    padding:1rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    width:100%;

    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.633);
    
    
}

#logo {
height:5rem;
}

header div {
    display: flex;
    justify-content: center;
}

header div nav{ 
    display: flex;
    width:100%;
    justify-content: space-around;
}

header div nav ul {
    display: flex;
    justify-content: center;
    
    width: 100%;
    padding:0;
    
}

header div nav ul li {
    display:flex;
    justify-content: center;
    margin: 0rem 1rem 0rem 1rem;
    

}

header div nav ul li a {
    font-size: 1.3rem;
    color: white;
}

.banner {

    background-image: url("./imgs/lawn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:50rem;
    border:1px solid white;

    margin: 1rem .5rem 1rem .5rem;

    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 25rem;
}

.bannerText {
    /* color:black;
    background-color: rgba(255, 255, 255, 0.811); */

    background-color: rgba(0, 0, 0, 0.633);
    width: 100%;
    text-align: center;
    margin: 0rem;
}

.bannerText h1, h2{
    
    opacity: 1;
}

.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem 3rem 1rem 3rem;
}

.about h2, h4 {
    margin:1rem;
    display:flex;
    justify-content: center;
}

.services {
    width:100%;
    text-align: center;
    }

    .serviceBanner{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .serviceImgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:4rem;
        
            
        
    }

    .serviceImgs img {
        width:20rem;
        height:20rem;
        object-fit:cover;
        border-color:1px solid white; 
        
    }


    .contact{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        /* border:1px solid blue; */
    }
    
    .contactImgContainer {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        align-content: center;
        
        /* border:1px solid red; */
        
        
    }
    
    .contactImgContainer img {
        width:10rem;
        height:10rem;
        
        /* border: 1px solid teal; */
    
    }
    
    .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* @media only screen and (max-width:420px){
        h1{
            /* color:transparent; */
        }
    } */